* {
  margin: 0 auto;
  font-family: 'Hubballi', cursive;
}

body {
  background-color: rgb(191, 223, 255);
}

.menu-topo {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 70vw;
  height: 300px;
  overflow: scroll;
  border: 0.02px solid rgb(129, 129, 129);
  box-shadow: 5px 5px 25px rgb(63, 63, 63);
  background-color: rgba(255, 255, 255, 0.699);
  padding: 15px;
}

.header img {
  position: relative;
  width: 15vw;
  height: 20vh;
  margin-left: 1px;
  border: 2px solid rgb(107, 107, 107);
  border-radius: 15px;
  box-shadow: 5px 5px 25px rgb(102, 93, 93);
}

.btn-show {
  position: relative;
  font-size: 2em;
  padding: 15px;
  margin: 25px;
  border: 0.02px solid rgb(129, 129, 129);
  box-shadow: 5px 5px 25px rgb(63, 63, 63);
  background-color: indigo;
  color: aliceblue;
  border-radius: 100px;
  transition: 0.3s ease-in-out;
}

.btn-show:hover {
  background-color: rgb(214, 217, 255);
  color: rgb(61, 61, 61);
}

div #post{
  display: flex;
  justify-content: center;
}

.info {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
}